
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<body class="home">
		<div id="page">

			<div id="top-menu">
				<a id="meus-beneficios" target="_blank" href="{{ link_meusbeneficios }}">
					<img src="https://www18.fgv.br/ptr/assets/meus-beneficios.png" alt="">
					<span>Meus Benefícios</span>
				</a>
				<a class="slt" href="#page">Início</a>
				<a class="slt" href="#ultimas-noticias">Notícias</a>
				<a class="slt" href="#objetivos-do-prt">Objetivos</a>
				<a class="slt" href="#balanco-de-pagamentos">Balanço Pagamentos</a>
				<a class="slt" href="#tire-suas-duvidas">Dúvidas</a>
				<a href="/fale-conosco" target="_blank">Fale Conosco</a>
				<a href="/ouvidoria" target="_blank">Ouvidoria</a>
			</div>

			<div id="header">
				<img src="{{ logotipo }}" alt="Fundação Getúlio Vargas">
				<div id="hero">
					<img src="{{ hero_fundo }}" alt="">
					<h1>{{ hero_titulo }}</h1>
				</div>
			</div>

			<div id="content">
				
				<p id="inicio" class="center-content">{{ hero_boasvindas }}</p>


				<div id="noticias-e-objetivos" class="duas-colunas center-content">
					<div>
						<div id="ultimas-noticias">
						    <h2>ÚLTIMAS NOTÍCIAS</h2>
						    {{ page.content }}
						</div>

						<div id="video-btn" class="duas-colunas">
							<div>
								<p>{{ video_legenda }}</p>
							</div>
							<div>
								<img src="{{ url_thumb }}" alt="Reparação socioeconômica">
							</div>
						</div>

					</div>

					<div id="objetivos-do-prt">
						<h2>OBJETIVOS DO PTR</h2>
						
						{% if obj1_descricao is defined %}
						<div>
							<img src="{{ obj1_icone }}" alt="Reparação socioeconômica">
							<p>{{ obj1_descricao }}</p>
						</div>
						{% endif %}
						{% if obj2_descricao is defined %}
						<div>
							<img src="{{ obj2_icone }}" alt="Reparação socioeconômica">
							<p>{{ obj2_descricao }}</p>
						</div>
						{% endif %}
						{% if obj3_descricao is defined %}
						<div>
							<img src="{{ obj3_icone }}" alt="Reparação socioeconômica">
							<p>{{ obj3_descricao }}</p>
						</div>
						{% endif %}
						{% if obj4_descricao is defined %}
						<div>
							<img src="{{ obj4_icone }}" alt="Reparação socioeconômica">
							<p>{{ obj4_descricao }}</p>
						</div>
						{% endif %}

					</div>
				</div>

				<div id="balanco-de-pagamentos">
					<img src="{{ balanco_fundo }}" alt="">
					<div>
						<h1>{{ balanco_titulo }}</h1>
						<span>{{ balanco_subtitulo }}</span>
						<div>
							<p><span>{{ dado1_numero }}</span>{{ dado1_descricao }}</p>
							<p><span>{{ dado2_numero }}</span>{{ dado2_descricao }}</p>
						</div>
					</div>
				</div>

				<div id="tire-suas-duvidas" class="center-content">
					<h2>{{ faq_titulo }}</h2>
					<p>{{ faq_descricao }}</p>
                    
					<div>
					    {% if faq_resposta_1 is defined %}
						<div>
							<h3>{{ faq_pergunta_1 }}</h3>

							<p>{{ faq_resposta_1 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_2 is defined %}
						<div>
							<h3>{{ faq_pergunta_2 }}</h3>

							<p>{{ faq_resposta_2 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_3 is defined %}
						<div>
							<h3>{{ faq_pergunta_3 }}</h3>

							<p>{{ faq_resposta_3 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_4 is defined %}
						<div>
							<h3>{{ faq_pergunta_4 }}</h3>

							<p>{{ faq_resposta_4 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_5 is defined %}
						<div>
							<h3>{{ faq_pergunta_5 }}</h3>

							<p>{{ faq_resposta_5 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_6 is defined %}
						<div>
							<h3>{{ faq_pergunta_6 }}</h3>

							<p>{{ faq_resposta_6 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_7 is defined %}
						<div>
							<h3>{{ faq_pergunta_7 }}</h3>

							<p>{{ faq_resposta_7 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_8 is defined %}
						<div>
							<h3>{{ faq_pergunta_8 }}</h3>

							<p>{{ faq_resposta_8 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_9 is defined %}
						<div>
							<h3>{{ faq_pergunta_9 }}</h3>

							<p>{{ faq_resposta_9 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_10 is defined %}
						<div>
							<h3>{{ faq_pergunta_10 }}</h3>

							<p>{{ faq_resposta_10 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_11 is defined %}
						<div>
							<h3>{{ faq_pergunta_11 }}</h3>

							<p>{{ faq_resposta_11 }}</p>
						</div>
						{% endif %}
						{% if faq_resposta_12 is defined %}
						<div>
							<h3>{{ faq_pergunta_12 }}</h3>

							<p>{{ faq_resposta_12 }}</p>
						</div>
						{% endif %}
					</div>
				</div>

				<div id="contato" class="center-content">
					<div>
						<img src="{{ email_icone }}" alt="Contato">
						<p>Se você ainda tem alguma dúvida entre em contato conosco pelo email <a href="mailto:{{ email_contato }}" target="_blank">{{ email_contato }}</a></p>
					</div>
				</div>

				<div id="footer" class="center-content">
					<img src="{{ logotipo }}" alt="Fundação Getúlio Vargas">
				</div>

			</div>

		</div>

		<div id="lightbox" class="">
			<div></div>
			<img id="fechar" src="https://i.ibb.co/yRM4YZn/x.png" alt="FECHAR">
		</div>

        <script>
            function getOffset( el ) {
                var _x = 0;
                var _y = 0;
                while( el && !isNaN( el.offsetLeft ) && !isNaN( el.offsetTop ) ) {
                    _x += el.offsetLeft - el.scrollLeft;
                    _y += el.offsetTop - el.scrollTop;
                    el = el.offsetParent;
                }
                return { top: _y, left: _x };
            }
        
            window.addEventListener("DOMContentLoaded", () => {
                var ultimasNoticias = document.querySelector("#ultimas-noticias");
                
               if ( window.location.href.includes("?page=") ) {
                   window.scrollTo(0, getOffset(ultimasNoticias).top - 100);
               } 
            });
        </script>
		<script>
            
			$video = '<iframe width="1024" height="580" src="{{ url_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';

			$popup = '<img src="{{ imagem_popup }}" alt="">';

			$("#top-menu a.slt").click(function(e) {
				e.preventDefault();
				var aid = $(this).attr("href");
				if($(aid).children('h2').length){
					$offset = $(aid).find('h2').height() + $('#top-menu').height()*2;
					$offset = $offset ;
				} else {
					$offset = 80;
				}
				$('html,body').animate({scrollTop: $(aid).offset().top-$offset},'slow');
			});

			$(".leia-mais").click(function(e) {
				e.preventDefault();
				$('#lightbox > div').html($(this).parent().html());
				$('#lightbox').addClass('ativo');
			});

			$("#video-btn").click(function(e) {
				e.preventDefault();
				$('#lightbox > div').html($video);
				$('#lightbox').addClass('ativo video');
			});
            
			jQuery(document).ready(function() {
			    var popup = "{{ imagem_popup }}";

				if ( window.location.href.includes("?page=") === false  && popup.length > 0 ) {
				    setTimeout(function() {
					$('#lightbox > div').html($popup);
					$('#lightbox').addClass('ativo');
				}, 1000);
				}
			});

			$("#fechar").click(function(e) {
				e.preventDefault();
				$('#lightbox').removeClass('ativo video');
				$('#lightbox > div').html('');
			});

		</script>

	
	
</body>