{#
PÁGINA TRANSPARÊNCIA
#}

{{page.navigation}}
<div class="py-5" style="	background-image: url(&quot;{{ base_path ~ directory }}/images/bg1.png&quot;);	background-position: top left;	background-size: cover;	background-repeat: no-repeat;">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-white">Transparência</h1>
    </div>
  </div>
</div>
</div>
<div class="d-block d-sm-nonept-3 py-3" style="">
<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <h2 class="text-dark text-center">PTR em números</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row d-flex align-items-center">
            <div class="px-0 col-2 col-md-2 col-lg-2"><img class="img-fluid d-block" src="{{ base_path ~ directory }}/images/img-people.png"></div>
            <div class="px-0 col-10 col-lg-10 col-md-10">
              <div class="row mx-1">
                <div class="col-lg-12 col-md-12" style="">
                  <h1 class="text-dark mt-2">+ 105 mil</h1>
                  <p>pessoas pagas por mês</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="card border-0">
        <div class="card-body py-2">
          <div class="row d-flex align-items-center">
            <div class="px-0 col-2 col-md-2 col-lg-2"><img class="img-fluid d-block" src="{{ base_path ~ directory }}/images/img-cash.png"></div>
            <div class="px-0 col-10 col-lg-10 col-md-10">
              <div class="row mx-1">
                <div class="col-lg-12 col-md-12" style="">
                  <h1 class="text-dark mt-2">+ 650 mil</h1>
                  <p>pagos no total</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="d-block d-sm-none bg-primary py-3">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-white text-center">Fundo do PTR</h2>
      <p class="text-center text-white">Aqui será exibido uma breve descrição sobre o Fundo</p>
      <div class="row">
        <div class="col-md-6 col-6 border-right">
          <h2 class="text-white text-center">R$ 4,2 Bi</h2>
          <p class="text-center text-white">recebidos em Outubro/2021</p>
        </div>
        <div class="col-md-6 col-6">
          <h2 class="text-white text-center">R$ 3,9 Bi</h2>
          <p class="text-center text-white">aplicados em renda fixa em conta da FGV na CEF</p>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 col-6 border-right">
          <h2 class="text-white text-center">+ R$ 280M</h2>
          <p class="text-center text-white">recebidos em Outubro/2021</p>
        </div>
        <div class="col-md-6 col-6">
          <h2 class="text-white text-center">NOV 2025</h2>
          <p class="text-center text-white">É a duração prevista para o término </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="d-none d-sm-block bg-primary py-5" style="">
<div class="container">
  <div class="row mb-4">
    <div class="col-md-7 col-6" style="">
      <h2 class="text-white" id="proximas-paradas">Fundo do PTR</h2>
      <h6 class="text-white">Aqui será exibido uma breve descrição sobre o Fundo </h6>
    </div>
    <div class="d-flex justify-content-end align-items-center col-md-5 col-6" style=""><img class="img-fluid d-block" src="{{ base_path ~ directory }}/images/img-cash2.png" width="150"></div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="border-bottom col-md-5 col-lg-5 col-6" style="">
      <div class="row">
        <div class="col-lg-6 col-md-7" style="">
          <h2 class="text-white" id="proximas-paradas">R$ 4,2 Bi</h2>
        </div>
        <div class="col-md-6 col-lg-6" style="">
          <h6 class="text-white mb-0">recebidos em</h6>
          <h6 class="text-white mb-0">Outubro/2021</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-5 col-lg-5 border-bottom ml-2" style="">
      <div class="row">
        <div class="col-lg-6 col-md-7" style="">
          <h2 class="text-white" id="proximas-paradas">R$ 3,9 Bi</h2>
        </div>
        <div class="col-lg-6 col-md-12" style="">
          <h6 class="text-white mb-0">aplicados em renda fixa</h6>
          <h6 class="text-white mb-0">em conta da FGV na CEF</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class="border-bottom col-md-5 col-lg-5 col-6" style="">
      <div class="row">
        <div class="col-lg-6 col-md-7" style="">
          <h2 class="text-white" id="proximas-paradas">R$ 4,2 Bi</h2>
        </div>
        <div class="col-md-6 col-lg-6" style="">
          <h6 class="text-white mb-0">recebidos em</h6>
          <h6 class="text-white mb-0">Outubro/2021</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-5 col-lg-5 border-bottom ml-2" style="">
      <div class="row">
        <div class="col-lg-6 col-md-7" style="">
          <h2 class="text-white" id="proximas-paradas">R$ 3,9 Bi</h2>
        </div>
        <div class="col-lg-6 col-md-12" style="">
          <h6 class="text-white mb-0">aplicados em renda fixa</h6>
          <h6 class="text-white mb-0">em conta da FGV na CEF</h6>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="d-block d-sm-nonept-3 pt-3 pb-5 bg-light" style="">
<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <h2 class="text-dark text-center">Pagamentos (Mapa)</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-12"><img class="img-fluid d-block mx-auto" src="{{ base_path ~ directory }}/images/mapa.png"></div>
  </div>
</div>
</div>
<div class="py-4 text-center">
<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <h2 class="text-dark text-center">Atendimento</h2>
      <p>Aqui será exibido uma breve descrição sobre o Fundo</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="card">
        <div class="card-body bg-light"> <img class="img-fluid d-block mb-3 mx-auto" src="{{ base_path ~ directory }}/images/icon-phone.png" width="60">
          <h4 class="text-dark text-center">+35 mil</h4>
          <p class="text-dark">telefonemas atendidos</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card">
        <div class="card-body bg-light"> <img class="img-fluid d-block mb-3 mx-auto" src="{{ base_path ~ directory }}/images/icon-email.png" width="80">
          <h4 class="text-dark text-center">+13 mil</h4>
          <p class="text-dark">e-mails respondidos</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card bg-light px-4">
        <div class="card-body py-2">
          <img class="img-fluid d-block mb-3 mx-auto" src="{{ base_path ~ directory }}/images/icon-sms.png" width="47
40" style="">
          <h4 class="text-dark text-center">+300 mil</h4>
          <p class="text-dark text-center">SMS enviados</p>
          <p>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="card bg-light px-4">
        <div class="card-body py-2">
          <img class="img-fluid d-block mb-3 mx-auto" src="{{ base_path ~ directory }}/images/icon-windows.png" width="60">
          <h4 class="text-dark text-center">+260 mil</h4>
          <p class="text-dark text-center">acessos/ mês no portal</p>
          <p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{page.footer}}
